/* Include custom colors and sizing */

header.jumbotron {
  background-color: #2d708d;
  color: white;
}

nav {
  background-color: #ddd;  
  margin-bottom: 2em; 
  padding: 1em;  
}

nav h2 {
  font-size: 1.25rem;
}

/* keep images in check */
.card-deck .card {
  flex-basis: 200px;
  margin-bottom: 30px;
}
